name: Build LuCI Proto AmneziaWG

on:
  workflow_dispatch:
    inputs:
      openwrt_version:
        description: "OpenWrt version"
        type: string
        required: true
        default: "23.05.3"
      openwrt_arch:
        description: "OpenWrt arch"
        type: string
        required: true
        default: "mipsel_24kc"
      openwrt_target:
        description: "OpenWrt target"
        type: string
        required: true
        default: "ramips"
      openwrt_subtarget:
        description: "OpenWrt subtarget"
        type: string
        required: true
        default: "mt7621"

jobs:
  build:
    name: "Build ${{ inputs.openwrt_arch }} - ${{ inputs.openwrt_target }}/${{ inputs.openwrt_subtarget }}"
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository source
      uses: actions/checkout@v4

    - name: Download and prepare OpenWrt SDK
      run: |
        set -e -x

        # Определяем URL SDK
        if [ "${{ inputs.openwrt_version }}" = "SNAPSHOT" ]; then
          base_url="https://downloads.openwrt.org/snapshots/targets/${{ inputs.openwrt_target }}/${{ inputs.openwrt_subtarget }}/"
        else
          base_url="https://downloads.openwrt.org/releases/${{ inputs.openwrt_version }}/targets/${{ inputs.openwrt_target }}/${{ inputs.openwrt_subtarget }}/"
        fi

        sdk_url=$(curl -s "${base_url}" | grep -oP 'href="openwrt-sdk[^"]+\.tar\.(xz)"' | sed -e 's/href="//' -e 's/"$//' | head -n1)

        if [[ -z "$sdk_url" ]]; then
          echo "SDK file not found!"
          exit 1
        fi

        # Скачиваем и распаковываем SDK
        curl -fsLO "$base_url$sdk_url"
        file_name=$(basename "$sdk_url")
        tar -xf "$file_name"
        rm -f "$file_name"
        mv openwrt-sdk* openwrt

        # Создаем папку для пакета и копируем файлы, исключая SDK
        mkdir -p openwrt/package/luci-proto-amneziawg
        rsync -av --exclude='openwrt' --exclude='.git' ./ openwrt/package/luci-proto-amneziawg/

        # Заходим в SDK и обновляем фиды
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a

        # Генерируем конфиг и явно включаем наш пакет
        make defconfig
        echo "CONFIG_PACKAGE_luci-proto-amneziawg=m" >> .config
        make defconfig

    - name: Build the package
      run: |
        set -e -x
        cd openwrt
        # Собираем только наш пакет
        make package/luci-proto-amneziawg/compile -j$(nproc) V=s

    - name: Prepare artifacts for upload
      run: |
        set -e -x
        mkdir -p release
        # Ищем готовый .ipk файл в bin/
        find openwrt/bin -name "luci-proto-amneziawg*.ipk" -exec cp {} release/ \;

    - name: Upload the compiled package
      uses: actions/upload-artifact@v4
      with:
        name: luci-proto-amneziawg-${{ inputs.openwrt_version }}_${{ inputs.openwrt_arch }}
        path: release/*
